.registration
    h3 Создать аккаунт
    form.registration_form
        input(type='name', placeholder='Имя', required)
        input(type='e-mail', placeholder='E-mail', required)
        input#first_password(type='password', placeholder='Пароль', minlength='8', required)
        input#second_password(type='password', placeholder='Подтвердите пароль', minlength='8', required)
        button#registration_submit.authorization_form_btn.registration_btn ЗАРЕГИСТРИРОВАТЬСЯ