li.special_proposals_content__wrap
    div.sale
        div.sale__wrap
            svg
                use(href='static/img/svg/symbol/sprite.svg#special_proposals--sale')
                h5 Sale
    img(src='static/img/special_proposals/special_proposal.jpg')
    h6 Lorem ipsum dolor sit amet sint stet sale ex eam
    div.special_proposal_content_nav
        div.price
            p.new_price $99.00
            p.old_price $99.00
        div.nav-items
            a(href='')
                img(src='static/img/special_proposals/like.jpg')
            a(href='')
                img(src='static/img/special_proposals/shopping-bag.jpg')