@import "../partials/variable";
body{
  background-color: #f7f7f7;
}
#wrap {
  display: none;
  opacity: 0.8;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 16px;
  background-color: rgba(1, 1, 1, 0.725);
  z-index: 900;
  overflow: auto;
}
.container{
  max-width: 1170px;
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;
}
.btn{
  width: 295px;
  height: 52px;
  border: 1px solid $main_color;
  border-radius: 5px;
  cursor: pointer;
  h4{
    line-height: 52px;
    a {
      text-transform: uppercase;
      color: $main_color;
      font-size: 16px;
      font-family: 'MyriadPro-Semibold';
      text-align: center;
    }
  }
}

.headline-lines{
  font-family: 'MyriadPro-Semibold';
  font-size: 35px;
  color: #000;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  &::after{
    content: '';
    position: absolute;
    height: 1px;
    width: 33%;
    background-color: #7b7b7b;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
  }
  &::before{
    content: '';
    position: absolute;
    height: 1px;
    width: 33%;
    top: 50%;
    transform: translateY(-50%);
    background-color: #7b7b7b;
    left: 0;
  }
}