section.about_us_s
    .about_us_s__wrap.container
        h2 Добро пожаловать в STYLONIA
        p.
            Первая в Украине платформа онлайн шоппинга с индивидуальным подбором образов,созданных стилистами.
            Наша миссия - вдохновлять людей на создание гармоничных образов ирационально управлять своим гардеробом.
            Мы объединили стилистов, интернет - магазины и полезнуюинформацию по стилю, чтобы наши пользователи смогли
            подбирать свой гардероб онлайн с учетом индивидуальных особенностей внешности (цветотипа) и цветовых
            гармоний (подбор вещей для образов, сочетающихся по цвету).
        ul.about_us_help
            li
                a(href="")
                    div.about_us_help-icon
                        svg
                            use(xlink:href='static/img/svg/symbol/sprite.svg#about_us--find_style')/
                    p Мы научим быть модной
                        br/ и найти свой уникальный стиль
            li
                a(href="")
                    div.about_us_help-icon
                        svg
                            use(xlink:href='static/img/svg/symbol/sprite.svg#about_us--shopping')/
                    p Поможем совершать
                        br/ онлайн шоппинг рационально
            li
                a(href="")
                    div.about_us_help-icon
                        svg
                            use(xlink:href='static/img/svg/symbol/sprite.svg#about_us--idea')/
                    p Вдохновляем людей
                        br/ создавать свои
                        br/ гармоничные образы и
                        br/ эффективно управлять
                        br/ гардеробом