section.authorization_s#authorization
    div.authorization_s__wrap
        nav.authorization_nav
            div.authorization_btn__wrap
                div.authorization_btn.authorization_btn-enter.authorization_btn-active#enter_btn
                    h5 ВХОД
                div.authorization_btn.authorization_btn-registration#registration_btn
                    h5 РЕГИСТРАЦИЯ
            img(src='static/img/enter/cancel.png').cancel#authorization_cancel
        include ../particles/enter
        include ../particles/registration
