footer
    .footer__wrap
        div.footer_nav
            ul
                li.footer_nav_headline МЕНЮ
                li: a(href='') Каталог товаров
                li: a(href='') SMART гардероб
                li: a(href='') Образы
                li: a(href='') Конструктор
                li: a(href='') Блог
                li: a(href='') Стилисты
            ul
                li.footer_nav_headline КАТЕГОРИИ
                li: a(href='') Обувь
                li: a(href='') Одежда
                li: a(href='') Аксессуары
                li: a(href='') Украшения
                li: a(href='') Уход и красота
            ul
                li.footer_nav_headline ПОЛЕЗНО
                li: a(href='') ПРОМО-КОДЫ
                li: a(href='') Что такое цветотип
                li: a(href='') FAQ
        h2 STYLONIA
        p Сделано с любовью к стилю.
        div.social_networks
            a(href='')
                img(src='static/img/footer/pinterest-logo.jpg')
            a(href='')
                img(src='static/img/footer/facebook-logo.jpg')
            a(href='')
                img(src='static/img/footer/instagram.jpg')
        p.copy_write 2018 © Все права защищены. Stylonia.com