header
    div.header_wrap.container
        div.language
            h4 RU
            svg
                use(href='static/img/svg/symbol/sprite.svg#header--language-arrow')/
        div.header_nav
            div.header_menu#menu
                div.header_menu_hamburger_wrap--red
                    div.header_menu_hamburger
                        .line
                        .line
                        .line
                div.header_menu-menu
                    h4 меню
            div.header_logo
                a(href="")
                    svg.header_logo_icon
                        use(href='static/img/svg/symbol/sprite.svg#header--logo-icon')/
                    svg.header_logo_text
                        use(href='static/img/svg/symbol/sprite.svg#header--logo-text')/
            div.header_nav_items
                svg.search#search
                    use(href='static/img/svg/symbol/sprite.svg#header--search ')/
                svg.user#user
                    use(href='static/img/svg/symbol/sprite.svg#header--user')/
                div.header_notification
                    svg.like
                        use(href='static/img/svg/symbol/sprite.svg#header--like')/
                    .active
                        h6 2
        div.btn.header_create_btn
            svg
                use(href='static/img/svg/symbol/sprite.svg#header--paint-brush')/
            h4: a(href="") создать образ
