section.navigation_s
    nav.navigation_s__wrap.container
        ul.navigation_s_items
            li.catalog
                a Каталог товаров
                ul.dropdown_catalog_items
                    li: a(href="") Женщинам
                    li: a(href="") Мужчинам
                    li: a(href="") Детям
            li.stylist: a(href="") Стилисты
            li: a(href="") Образы