.pop_up_menu
    .pop_up_menu__wrap
        img#pop_up_cancel(src="static/img/cancel.jpg")
        p Пройдите тест, которым пользуются профессиональные стилисты, и получите рекомендации как применять его в жизни!
        div.btn
            h4: a ПРОЙТИ ТЕСТ НА ЦВЕТОТИП