section.portfolio_s
    div.portfolio_s__wrap.container
        h3.headline-lines ГОТОВЫЕ ОБРАЗЫ
        ul.portfolio_content
            li
                img(src="static/img/portfolio/our_work.jpg")
                h5 Lorem ipsum
                p  by Lorem Ipsum
                ul.portfolio_content_social
                    li
                        a
                            img(src="static/img/portfolio/share.jpg")
                            p 1
                    li
                        a
                            img(src="static/img/portfolio/chat.jpg")
                            p 3
                    li
                        a
                            img(src="static/img/portfolio/like.jpg")
                            p 2
            li
                img(src="static/img/portfolio/our_work.jpg")
                h5 Lorem ipsum
                p  by Lorem Ipsum
                ul.portfolio_content_social
                    li
                        a
                            img(src="static/img/portfolio/share.jpg")
                            p 1
                    li
                        a
                            img(src="static/img/portfolio/chat.jpg")
                            p 3
                    li
                        a
                            img(src="static/img/portfolio/like.jpg")
                            p 2
            li
                img(src="static/img/portfolio/our_work.jpg")
                h5 Lorem ipsum
                p  by Lorem Ipsum
                ul.portfolio_content_social
                    li
                        a
                            img(src="static/img/portfolio/share.jpg")
                            p 1
                    li
                        a
                            img(src="static/img/portfolio/chat.jpg")
                            p 3
                    li
                        a
                            img(src="static/img/portfolio/like.jpg")
                            p 2
        div.btn
            h4: a ПОСМОТРЕТЬ ВСЕ ОБРАЗЫ