.slide_search
    .slide_search__wrap.container
        img#slide_search_cancel(src="static/img/cancel.jpg")
        form
            p.search--input
                input(type='search', name='search', placeholder="Поиск")
                input(type="submit" value="")
            //img(src="static/img/search.jpg")
        p Найдите свой продукт с быстрым поиском. Введите ключевые слова, такие как обувь, куртки, рубашки и т. д.