section.special_proposals
    div.special_proposals__wrap.container
        h3.headline-lines СПЕЦИАЛЬНЫЕ ПРЕДЛОЖЕНИЯ
        div.slider_btn__wrap
            div.slider_btn.slider_btn--left
                img(src='static/img/special_proposals/left-arrow.jpg')
            div.slider_btn.slider_btn--right
                img(src='static/img/special_proposals/right-arrow.jpg')
        ul.special_proposals_content
            include ../particles/special_proposals_content
            include ../particles/special_proposals_content
            include ../particles/special_proposals_content
            include ../particles/special_proposals_content
        div.btn
            h4: a ПОСМОТРЕТЬ ВСЕ ОБРАЗЫ
