.intro_s{
  height: 400px;
  overflow: hidden;
  .intro_slider{
    background-image: url('../img/intro/baner4.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 571px;
    width: 100%;
  }
  .intro_s__wrap{

  }
}