.portfolio_s{
  .portfolio_s__wrap{
    position: relative;
    .portfolio_content{
      margin-top: 85px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      li{
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #fff;
        padding-bottom: 40px;
        border-radius: 5px;
        h5{
            font-size: 27px;
            margin: 20px 0 15px 15px;
        }
        p{
            font-size: 18px;
            color:#757575;
            margin-left: 15px;
        }
        .portfolio_content_social{
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          margin-top: 45px;
          justify-content: flex-end;
          align-items: flex-end;
          margin-right: 15px;
          li {
            width: auto;
            height: auto;
            &:nth-of-type(2) {
              margin: 0 35px;
            }
            a {
              display: flex;
              flex-direction: row;
              p {
                margin-left: 15px;
              }
            }
          }
        }
      }
    }
    .btn{
      margin: 55px 0 130px 0;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      h4{
        text-align: center;
      }
    }
  }
}