doctype html
html(lang="ua=UA")
    head
        title Test
        link(rel="stylesheet" type='text/css' href="static/css/main.css")
    body
       div#wrap
       include ../components/header
       include ../components/navigation
       include ../components/intro
       include ../components/about_us
       include ../components/portfolio
       include ../components/special_proposals
       include ../components/footer
       include ../components/pop_up_menu
       include ../components/slide_menu
       include ../components/slide_search
       include ../components/authorization
       include ../components/scripts